@import ../../styles/base/vars

.postWrapper
  width: auto
  padding: 15px
  border-radius: 10px
  transition: background-color 200ms linear

  .postImage
    maxWidth: 100%,
    borderRadius: 10px,
    height: auto,
    objectFit: contain,
    position: relative,
    margin: 0 auto,
    display: block,

  a
    text-decoration: none

  &:hover
    background-color: $tagBackground

  @media (max-width: 768px)
    width: 100%
    
  .tagList
    display: flex
    flex-wrap: wrap
    gap: 8px

    div
      background-color: $tagBackground
      color: white
      padding: 4px 8px
      border-radius: 4px
      font-size: 14px
      color: $tagColor
      margin-right: 8px
      margin-bottom: 8px
      
  .postTitle
    color: $textColor
    font-style: normal
    font-weight: 600
    font-size: 24px
    line-height: 30px
    margin-bottom: 17px

  .postTagsContainer
    display: flex
    margin-bottom: 16px

.showDesktop
  @media (min-width: $isDesktopBreakpoint)
    display: block
  @media (max-width: $isMobileBreakpoint)
    display: none

.showMobile
  @media (min-width: $isDesktopBreakpoint)
    display: none
  @media (max-width: $isMobileBreakpoint)
    display: block
